<!DOCTYPE html>
<html ng-app="">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="btn">{{"angularjs"}}</div>
    <div class="btn btn-success">Bootstrap</div>
  </body>
</html>
